<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nisi vel velit numquam. Harum nulla mollitia vel ducimus fugiat est. Fugit iusto ducimus quis rem quam saepe accusamus similique odio?</p>
    </div>

</body>
</html>